body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

.top-container {
  background-color: #E3FDFD;
  margin: 0;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
}

h1 {
  font-family: "Sacramento", cursive;
  font-size: 5.625em;
  margin: 50px auto 0 auto;
  font-weight: bold;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999E;

}

a {
    color: #11999E;
}

.pro {
    text-decoration: underline;
}

.middle-container {
}

.bottom-container {
}


p {
}
